# --- OS & Editor Files ---
.DS_Store
.vscode/
**/.idea/
*.user
riderModule.iml
/_ReSharper.Caches/

# --- .NET ---
bin/
obj/
/packages/
# Ignore secret appsettings but keep the template
backend/User/appsettings.json
backend/News/appsettings.json

# --- Python ---
**/__pycache__/
**/venv/
**/.env
**/.pytest_cache/

# --- Frontend (Next.js) ---
**/node_modules/
**/dist/
**/.next/
**/.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
```